.background{
    background-color:white;
    padding-bottom: 50vh;
}

.adminTitle {
}

.shippingCost {
    margin:2vh
}

.orderTable {
    padding-top: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
}

.selectField{
    margin-left: 15%;
    margin-top: 10%;
}