.background{
    background-color:white;
    padding-bottom: 50vh;
}

.adminTitle {
    color: white;
    background-color: blue;
    width: 100%;
    height: 75px;
    font-size: 30px;
    padding: 20px;
    border-style: dashed;
}

.orderTable {
    padding-top: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
}